container{
    width: 1000px;
    height: 2000px;
    margin: 0px auto;
    padding: 0px;
}

.nav_bar ul{
    list-style: none;
    width: 500px;
}

.nav_bar ul li{
    display: inline;
    padding: 0px 10px 0px 10px;
}

div{
    background-color: green;
    padding-left: 300px;
}

.intro,.name{
    width: 500px;
}

.nav_bar{
    width: 500px;
}