container{
    width: 1000px auto;
    height: 2000px auto;
    margin: 0px auto;
    padding: 0px;
}

.name{
    display: flex;
    place-content: center;
    width: 1000px auto;
}

.nav_bar ul{
    list-style: none;
    width: 500jpx auto;
}

.nav_bar ul li{
    display: inline;
    padding: 0px 10px 0px 10px;
}

div{
    background-color: green;
}

.intro{
    width: 500px auto;
}

.nav_bar{
    width: 500px auto;
}